/* TODO: refactor for better portrait scaling */
/* TODO: make ? button a real button that opens a modal with About as header, a list of keys, and a github link */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Lobster&display=swap');

body {
    background: #116466;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #71a6a4;
    font-family: Lobster, Helvetica, sans-serif;
    font-size: 42pt;
    font-weight: 800;
    left: 22%;
    position: absolute;
    transform: translate(-50%);
}

#neck {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#key {
    background: #d1e8e2;
    border: none;
    border-radius: 100em;
    box-shadow: 3px 3px 0 #2c353180;
    color: #2c3531;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    height: 32px;
    margin: 16px 8px;
    outline: none;
    text-align: center;
}

.string {
    background: linear-gradient( 180deg, #00000000 calc(50% - 1px), #d1e8e2 calc(50%), #00000000 calc(50% + 1px) );
    display: inline-flex;
    width: min-content;
}

    .string:first-of-type {
        margin-top: 8px;
    }

#markers {
    display: inline-flex;
    width: min-content;
}

.note {
    align-items: center;
    background: #d1e8e2;
    border-radius: 50%;
    box-shadow: 3px 3px 0 #2c353180;
    color: #116466;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16pt;
    font-weight: 700;
    height: 32px;
    justify-content: center;
    margin: 2px 8px;
    text-align: center;
    width: 32px;
}

#marker {
    background: none;
    box-shadow: 0 0 0 #00000000;
    color: #d1e8e280;
}

#half {
    background: #2c3531;
}

.top-curve {
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

    .top-curve svg {
        display: block;
        height: 180px;
        position: relative;
        width: calc(120% + 1.3px);
        z-index: -1;
    }

    .top-curve .shape-fill {
        fill: #d1e8e2;
    }

.bottom-curve {
    bottom: 0;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

    .bottom-curve svg {
        display: block;
        height: 180px;
        position: relative;
        width: calc(120% + 1.3px);
        z-index: -1;
    }

    .bottom-curve .shape-fill {
        fill: #d9b08c;
    }

#about-button {
    background: #bb906b;
    border: none;
    bottom: 0%;
    box-shadow: 0 0 0;
    color: #d9b08c;
    cursor: pointer;
    margin: 8px;
    position: absolute;
}

#modal-background {
    background: #d1e8e280;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#modal {
    align-items: center;
    background: #d1e8e2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card {
    background: #116466;
    border-radius: 8px;
    color: #d1e8e2;
    font-family: 'Fira Sans', sans-serif;
    margin: 8px;
    padding: 8px;
    width: 480px;
}

h2 {
    margin: 0;
    text-align: center;
}

ul, p, a {
    margin: 16px 0px;
}

a {
    color: #d1e8e2;
    display: block;
    text-align: center;
}

ul {
    padding-left: 1em;
}

@media (max-height: 700px) {
    .bottom-curve {
        display: none;
    }

    #about-button {
        background: #d1e8e2;
        color: #116466;
    }
}
